@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PhotoCapture</h1>
    <p class="lead">This application accepts photos from mobile devices, extracts geolocation data, and gives location-based suggestions.</p>
    
</div>

<div class="body-content">
    <div>
        <p><a href="@Url.Action("Create", "Home")" class="btn btn-primary btn-large">Begin &raquo;</a>&nbsp; <a href="@Url.Action("Index", "Client")" class="btn btn-primary btn-large">Client List &raquo;</a></p>
    </div>
</div>